<template name="postItem"> 
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h4><strong>{{title}}</strong></h4>  
      <br> 
      <p>{{question}}</p>  
      <br>  
      <p class="text-muted">Submitted by <strong class="text-success">{{author}}</strong> on <span class="date">{{submittedText}}</span></p>
      <p>
        {{pluralize votes "Vote"}} |  
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div> 
</template> 