<template name="postSubmit">
  <form class="main form page">

    <div class="form-group {{errorClass 'title'}}">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" id="title" type="text" value="" placeholder="Give a brief title for your post" class="form-control"/>
            <span class="help-block">{{errorMessage 'title'}}</span>
        </div>
    </div>
   
    <div class="form-group {{errorClass 'question'}}">
      <label class="control-label" for="question">Your question</label>
      <div class="controls">
          <textarea name="question" type="text" id="question" placeholder="Please type in your question" class="form-control" rows="3"></textarea>
          <span class="help-block">{{errorMessage 'question'}}</span>
      </div>
    </div>
 
    <div class="form-group">
      <label class="control-label" for="post_tags">Please write a tag</label>
      <div class="controls">
          <input type="text" value="" placeholder="funding, hiring, marketing" data-role="tagsinput" class="form-control" />
      </div> 
    </div> 
      
    <span class="glyphicon glyphicon-send"></span> <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template> 