<template name="commentItem">
    <li>
      <h4>
        <span class="author">{{author}}</span>
        <span class="date">on {{submittedText}}</span>
      </h4>
      <p>{{body}}
          <div class="text-left">
              <button type="button" class="btn reply_button">Show replies</button> 
              <button type="button" class="btn reply_submit_button btn_{{this._id}}">Respond to comment</button> 
          </div>
      </p>  
    </li>
     
    <ul class="replies {{this._id}}"> 
        {{#each replies}}
          {{> replyItem}}
        {{/each}}
    </ul>

    
    
</template>   