<template name="replySubmit">
    <form name="comment" class="comment-form form">
        <div class="form-group {{errorClass 'body'}}">
            <div class="controls">
                <label for="body">Reply to this comment</label>
                <textarea name="body" id="body" class="form-control" rows="2"></textarea>
                <span class="help-block">{{errorMessage 'body'}}</span>
            </div> 
        </div>
        <button type="submit" class="btn btn-primary btn_reply">Add reply</button>
    </form> 
</template>   